{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
<script src="{{ asset('js/easytimer.min.js') }}"></script>
<script src="{{ asset('js/taskhandler.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/style.css') }}">


    <div class="container main-content">
    <h1>Tasks</h1>
 
    <table class="table task-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}    
            <tr>
                <td class = "name">{{ task.Name }}</td>
                <td seconds = "{{ task.seconds }}">{{ task.formattedTime }}</td>
            </tr>
                
        {% else %}

            <tr class="no-result">
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>

    <div class="total">
        <label for="total">Total</label>
        <div class="total-value">00:00:00</div>
    </div>

    <div class="row new-task">
        <div class="task-name col-sm-8">
            <input type="text" name="task-name" id="task-name">
            <span class="required-message"></span>
        </div>
        <div id="timer" class="col-sm-4">
            <div class="buttons">                
                <button class="startButton btn start">Start</button>
                <button class='stopButton btn end' style="display: none;">Stop</button>
            </div>
            <div class="values">00:00:00</div>            
        </div>

    </div>

    </div>

{% endblock %}
